.comment__username {
  font-weight: bold;
}

.comment__input {
  width: 100%;
}

.comment-box {
  border: 1px solid #e6e6e6;
  background-color: #fff !important;
}

.comment-box__likes {
  font-size: 125%;
  font-weight: bold;
}